# Exploratory Data Analysis for Taxi GPS data

### Load the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import random
import time

In [2]:
# Read into a pandas dataframe
df = pd.read_csv("./data/train.csv", nrows=10000)

In [4]:
converted_df = df.copy()

In [5]:
converted_df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'], unit='s')

In [13]:
converted_df['STARTING TIME'] = converted_df['TIMESTAMP'].dt.time

In [15]:
converted_df['TRAVEL_TIME'] = converted_df['POLYLINE'].apply(
            lambda polyline: (len(polyline) - 1) * 15
        )

In [17]:
converted_df['END_TIME'] = converted_df['TIMESTAMP'] + pd.to_timedelta(converted_df['TRAVEL_TIME'], unit='s')

In [18]:
converted_df

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,STARTING TIME,TRAVEL_TIME,END_TIME
0,1372636858620000589,C,NaN,NaN,20000589,2013-07-01 00:00:58,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[...",00:00:58,7485,2013-07-01 02:05:43
1,1372637303620000596,B,NaN,7.0,20000596,2013-07-01 00:08:23,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",00:08:23,6180,2013-07-01 01:51:23
2,1372636951620000320,C,NaN,NaN,20000320,2013-07-01 00:02:31,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...",00:02:31,21105,2013-07-01 05:54:16
3,1372636854620000520,C,NaN,NaN,20000520,2013-07-01 00:00:54,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[...",00:00:54,14055,2013-07-01 03:55:09
4,1372637091620000337,C,NaN,NaN,20000337,2013-07-01 00:04:51,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",00:04:51,9495,2013-07-01 02:43:06
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1372839081620000157,A,2002.0,NaN,20000157,2013-07-03 08:11:21,A,False,"[[-8.66808,41.154651],[-8.668089,41.154651],[-...",08:11:21,16275,2013-07-03 12:42:36
9996,1372839306620000084,A,2001.0,NaN,20000084,2013-07-03 08:15:06,A,False,"[[-8.583129,41.164731],[-8.583129,41.164785],[...",08:15:06,22965,2013-07-03 14:37:51
9997,1372837509620000467,C,NaN,NaN,20000467,2013-07-03 07:45:09,A,False,"[[-8.600103,41.18274],[-8.599806,41.182722],[-...",07:45:09,17985,2013-07-03 12:44:54
9998,1372822350620000688,A,53492.0,NaN,20000688,2013-07-03 03:32:30,A,False,"[[-8.5878,41.174568],[-8.587782,41.174595],[-8...",03:32:30,20265,2013-07-03 09:10:15
9999,1372838111620000104,B,NaN,11.0,20000104,2013-07-03 07:55:11,A,False,"[[-8.613144,41.166774],[-8.613333,41.166675],[...",07:55:11,10380,2013-07-03 10:48:11

In [67]:
import matplotlib.pyplot as plt

# Drop rows with missing coordinates to avoid plotting issues
df_plot = df.dropna(subset=['First_Longitude', 'First_Latitude', 'Last_Longitude', 'Last_Latitude'])

# Plotting
plt.figure(figsize=(10, 6))

# Plot first coordinates
plt.scatter(df_plot['First_Longitude'], df_plot['First_Latitude'], color='green', label='Start')

# Plot last coordinates
plt.scatter(df_plot['Last_Longitude'], df_plot['Last_Latitude'], color='red', label='End')

# Connect start and end points
for _, row in df_plot.iterrows():
    plt.plot([row['First_Longitude'], row['Last_Longitude']], 
             [row['First_Latitude'], row['Last_Latitude']], 
             color='blue', linestyle='--', linewidth=1)

plt.title('First and Last Coordinates of Polylines')
plt.xlabel('Longitude')
plt.ylabel('Latitude')
plt.legend()
plt.grid(True)
plt.show()

KeyError: ['First_Longitude', 'First_Latitude', 'Last_Longitude', 'Last_Latitude']